<!--コントローラから渡された@post_images変数内から1つずつ取り出して、post_image変数へ格納-->
<% @post_images.each do |post_image| %>
<div>
  <!--image_tagを使いpost_imageにActiveStorageで設定したimageを表示-->
  <!--post_image.get_imageの部分はPostImageモデルに記述したメソッドを呼び出している-->
  <!--link_toで一覧画面から投稿の詳細画面へ遷移するためリンクを-->
  <%=link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>
  <!--post_image.userで、投稿画像に紐づいたユーザーの情報(投稿したユーザーの情報)を取得できる-->
  <!--.userの部分でUserモデルを使用しているため、Userモデルに記述しているget_profile_imageメソッドが使えるようになる-->
  <!--結果、post_image.user.get_profile_imageと記述することで、投稿画像に紐づいたユーザーのプロフィールを表示できる-->
  <p>投稿ユーザー画像: <%= image_tag post_image.user.get_profile_image(100,100) %></p>
  <p>ショップ名: <%= post_image.shop_name %></p>
  <p>説明: <%= post_image.caption %></p>
  <!--post_image変数のuser_idに関連付けられているuserモデルのnameカラムを表示-->
  <p>ユーザーネーム: <%= post_image.user.name %></p>
</div>
<% end %>